<!DOCTYPE html>
<html>
<head>
	<title>Event Staffing Software</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
      <div class="headerTho clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
             <li role="presentation" id="plansLi"></li>
              <li id="dashboard" role="presentation"><a id="activeNav" href="/users/admin">Dashboard</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
              <li role="presentation"><a href="/users/login">Login</a></li>
              <li role="presentation"><a href="/users/register">Sign Up</a></li>
            {{/if}}
          </ul>
        </nav>
        <a class="navbar-brand"  href="/users/admin"><img src="/images/imageedit_6_9701024636.png" class= "img-responsive" style="height: 100%"></a>
      </div>


      <div class="row">
        <div class="col-lg-12">
         
          
          {{{body}}}
        </div>

        
      </div>

      <footer class="footer">
        <p>&copy; 2018 EZ Staff.</p>
      </footer>

    </div> <!-- /container -->
</body>
</html>