/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

#loginbutton:hover {
    color: white;
}

#createeventbutton:hover {
    color: white;
}

#inviteButton:hover {
        color: white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header{
  margin-top:0;
}

footer{
  margin-top:40px;
}


* {
    box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

/* List items */
.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

/* Grey list item */
.price .grey {
    background-color: #eee;
    font-size: 20px;
}

/* The "Sign Up" button */
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/* Change the width of the three columns to 100% 
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

.noliststyletype {
 list-style-type: none;
}

#misc {
    display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

.stripeModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.stripeClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.stripeClose:hover,
.stripeClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* The Close Button */
.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* The Close Button */
.changePlanClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.changePlanClose:hover,
.changePlanClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* The Close Button */
.close3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close3:hover,
.close3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* The Close Button */
.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* The Close Button */
.cancelPlanClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cancelPlanClose:hover,
.cancelPlanClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* The Close Button */
.confirmCancelPlanClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.confirmCancelPlanClose:hover,
.confirmCancelPlanClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.hidden {
    display: none;
}

.removeStaffSpan {
    float: right;
    margin-top: -10px;
}

.addButton {
    margin-left: 25px;

}

.liAdd {
    margin-top: 25px;
}


#search-results {
    list-style-type: none;
}

#close2 {
    margin-top: 25px;
}



.StripeElement, #stripeName {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}




#stripeButton {
    margin-top: 15px;
}

#stripePurchase {
    margin-top: 15px;
}



#stripeName {
color: #32325d;
    line-height: 18px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;

    
}

::placeholder {
      color: #DCDFE6;
    }

.StripeElement {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-row {
    margin-top: 10px;
}

#card-errors {
    color: #fa755a;
}

#loginError {
    color: #fa755a;
}

#content {
    margin-top: 25px;
}

.btnRed {
   background-color: red;
    color: white; 
}

.btnRed:hover {
   background-color: red;
    color: white; 
}

.btnOrange {
   background-color: orange;
    color: white;  
}

.btnOrange:hover {
   background-color: orange;
    color: white;  
}

.btnBlue {
    background-color: #4EBBDB;
    color: white; 
}

.btnBlue:hover {
    background-color: #4EBBDB;
    color: white; 
}



.nav-tabs li a{
   color: black; 
}
.nav-pills li a{
   color: #C1C1C1; 
}


#activeNav { 
color: black;
    background-color: transparent;
}

#activeNav:active { 
color: black;
    background-color: transparent;
}



.activeNav { 
color: black;
}

#createeventbutton {
    margin-top: 25px;
}

.blue {
    background-color: #4EBBDB;
    color: white;
    font-size: 25px;
}

.deleteButton {
    margin-top: 10px;
}

.addStaffButton {
    margin-top: 10px;
}

.inviteButton {
    margin-top: 15px;
}

.makeChangesButton {
    margin-top: 15px;
}

a {
    text-decoration: none;
}

#signupmessage {
    color: #909090;
}

#signupmessage, #signupheader {
    text-align: center;
}
